@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.row {
  padding: 0;
  margin: 0;
}
main {
  background-color: #97999b;
  padding: 5% 0;
  min-height: 100vh;
}
.for__inst {
  margin: 0 auto;
  width: 50%;
  background-color: #363b48;
  box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
  padding: 3%;
}
.for__inst h1 {
  font-size: 3rem;
  color: #f9e547;
}
.for__inst h2 {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.for__inst hr {
  background-color: #97999b;
  width: 80%;
  margin: 2rem auto;
}
.for__inst a {
  display: block;
  text-align: center;
  color: #f9e547;
  background-color: #97999b;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}
.for__inst a .fa {
  color: #ffffff;
  margin-left: 2rem;
  float: left;
  vertical-align: middle;
}
@media (max-width: 576px) {
  .for__inst {
    width: 100%;
  }
  .for__inst i {
    display: none;
  }
}
@media (max-width: 768px) {
  .for__inst {
    width: 90%;
  }
  .for__inst i {
    display: none;
  }
}
@media (max-width: 992px) {
  .for__inst {
    width: 80%;
  }
}
