@media (max-width: 575.98px) {
  header {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  nav .btn {
    width: 70%;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo + .burger {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .logo {
    display: inline-block;
    text-align: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
  }
  .logo p {
    font-size: 0.8rem;
  }
  .logo p span {
    font-size: 0.8rem;
  }
  .social {
    padding-top: 0;
    margin-top: 0;
  }
  .social img {
    margin-bottom: 1rem;
    padding-top: 0.6rem;
  }
  .burger {
    margin-top: 1rem;
    float: right;
  }
  .number {
    margin-bottom: 0;
  }
  .number p {
    margin-bottom: 0;
  }
  .advantages {
    background-position: 100% 100%;
    background-size: 50%;
    padding-bottom: 4rem;
  }
  .advantages h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .advantages p {
    text-align: center;
    font-size: 1rem;
  }
  .advantages h2 {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .advantages .feadback-box {
    margin-top: 2rem;
    width: 60%;
  }
  .advantages .feadback-box p {
    font-size: 0.6rem;
  }
  .advantages .feadback-box button {
    padding: 0.5rem 0rem;
    font-size: 0.6rem;
    line-height: 1rem;
  }
  .advantages .garant-block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages .garant-block .garant-box {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .advantages .garant-block .garant-box img {
    margin: 0 auto;
    float: none;
  }
  .advantages .garant-block .garant-box p {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .position {
    padding: 0;
    width: 100%;
    left: 0%;
  }
  .card-block {
    padding: 0.8rem;
  }
  .card-block .card-box {
    padding: 1rem 3rem;
    width: 100%;
  }
  .card-block .card-box img {
    float: left;
  }
  .card-block .card-box p {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 1rem;
  }
  .card-block .card-box p span {
    font-size: 1.2rem;
    display: inline;
  }
  .expert {
    background-size: auto;
    background-position: 64% 0%;
    padding-bottom: 0;
  }
  .expert h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .expert h2 br {
    display: none;
  }
  .expert p.subtitle {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .expert p {
    font-size: 0.6rem;
    width: 70%;
  }
  .expert .advantage-block {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  .expert .advantage-block .box {
    display: block;
    text-align: left;
  }
  .expert .advantage-block span {
    display: inline-block;
    font-size: 1.75rem;
    text-align: left;
  }
  .expert .advantage-block p {
    display: inline-block;
    font-size: 0.6rem;
    text-align-last: left;
    padding-top: -1rem;
  }
  .expert h4 {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
  .expert a.h3 {
    display: block;
    font-size: 1.6rem;
    margin: 0 auto;
  }
  .material {
    padding: 3rem 0;
    background-size: contain;
    background-position: 0% 40%;
    margin-bottom: 2rem;
  }
  .material h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .material h2 br {
    display: none;
  }
  .material p.subtitle {
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto 13.75rem;
  }
  .material p.subtitle br {
    display: none;
  }
  .material .box-1 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  .material .box-2 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  .material .box-3 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  .price {
    padding: 1rem 0rem;
  }
  .price h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .price h2 br {
    display: none;
  }
  .price .price-box {
    margin-bottom: 1.5rem;
  }
  .price .price-title {
    padding: 0.6rem 0 0.1rem;
  }
  .price h3 {
    font-size: 0.8rem;
  }
  .price h3 br {
    display: none;
  }
  .price li {
    width: 80%;
    margin: 0 auto;
    padding-left: 1rem;
  }
  .allin {
    padding: 1rem 0rem;
    background-image: none;
    width: 100%;
  }
  .allin h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .allin h2 br {
    display: none;
  }
  .allin .container,
  .allin .row {
    background: none;
    background-image: none;
  }
  .allin .scroll {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -webkit-scroll-snap-type: x;
        -ms-scroll-snap-type: x;
            scroll-snap-type: x;
    margin: 0 1rem;
    background: none;
  }
  .allin .scroll .allin-box {
    margin: 1.5rem 0.45rem;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .allin .scroll .allin-box p {
    padding-bottom: 0;
  }
  .allin .scroll .allin-box br {
    display: none;
  }
  .allin-block {
    display: none;
  }
  .allin-box {
    scroll-snap-align: start;
  }
  .allin .calculation {
    display: inline-block;
  }
  .allin .calculation img {
    margin-right: 1rem;
    float: left;
  }
  .allin .calculation-text {
    display: inline-block;
    width: 60%;
  }
  .allin .calculation-text br {
    display: none;
  }
  .allin .calculation-text p {
    padding-top: 0;
    font-size: 0.6rem;
    margin-bottom: 1.5rem;
  }
  .allin .calculation button {
    padding: 0.8rem;
    font-size: 0.6rem;
    width: 100%;
  }
  .tehnology {
    background-size: cover;
  }
  .tehnology h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .tehnology h2 br {
    display: none;
  }
  .tehnology li {
    font-size: 0.8rem;
  }
  .tehnology .connect {
    margin-bottom: 2rem;
  }
  .tehnology .connect img {
    width: 55%;
  }
  .tehnology .connect ul {
    list-style: none;
    padding-top: 0.2rem;
  }
  .tehnology .connect ul li {
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 0.65rem;
  }
  .tehnology p {
    font-size: 0.6rem;
    float: left;
  }
  .tehnology button {
    float: right;
    padding: 1rem 1rem;
    font-size: 0.6rem;
    width: 60%;
  }
  .portfolio {
    padding: 2rem 0;
    background-image: none;
  }
  .portfolio .portgolio-bg {
    display: none;
    background-image: none;
  }
  .portfolio h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .portfolio h2 br {
    display: none;
  }
  .portfolio p.double {
    display: none;
  }
  .portfolio .portfolio-btn {
    margin: 1rem 0 4rem;
  }
  .portfolio .portfolio-btn p {
    margin: 0rem 1rem;
  }
  .portfolio .slick-prev {
    top: -9%;
    left: 50%;
    font-size: 0;
  }
  .portfolio .slick-prev:before {
    font-family: serif;
    content: "\2190";
  }
  .portfolio .slick-next {
    top: -9%;
    left: 68%;
  }
  .portfolio .slick-next:before {
    font-family: serif;
    content: "\2192";
  }
  .portfolio .slick-prev:before,
  .portfolio .slick-next:before {
    color: #212121;
    font-size: 2.25rem;
  }
  .portfolio-slider {
    width: 100%;
    padding: 0 ;
  }
  .portfolio .slider-home {
    padding: 0 1rem;
  }
  .portfolio .slider-home .img {
    width: 100%;
    text-align: center;
    float: none;
  }
  .portfolio .slider-home .img img {
    display: inline-block;
    width: 47%;
    margin: 0.2rem;
    padding: 0;
  }
  .portfolio .slider-home .home__description {
    width: 100%;
  }
  .portfolio .slider-home .home__description h4 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .portfolio .slider-home .home__description .call-btn {
    padding: 0.8rem 2rem;
    font-size: 0.8rem;
    display: block;
    margin: 0 auto;
  }
  .portfolio .slider-home .home__description a {
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 1rem;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comment {
    background-size: 50%;
    background-position: 0% 50%;
  }
  .comment h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .comment h2 br {
    display: none;
  }
  .comment p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  .comment .slick-prev {
    top: 101%;
    left: 18%;
    font-size: 0;
  }
  .comment .slick-prev:before {
    font-family: serif;
    content: "\2190";
  }
  .comment .slick-next {
    top: 101%;
    left: 99%;
  }
  .comment .slick-next:before {
    font-family: serif;
    content: "\2192";
  }
  .comment .slick-prev:before,
  .comment .slick-next:before {
    color: #212121;
    font-size: 2.25rem;
  }
  .comment-banner {
    width: 100%;
  }
  .comment-banner .banner-box {
    padding: 1rem 0.5rem;
  }
  .comment-banner h3 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .comment-banner h3 br {
    display: none;
  }
  .comment-banner a.h3 {
    font-size: 1.7rem;
  }
  .comment .img-pos {
    display: none;
  }
  .mode {
    padding: 5rem 0;
  }
  .mode .img-pos {
    left: 9%;
  }
  .mode h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .mode h2 br {
    display: none;
  }
  .mode-box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .mode-box p {
    font-size: 0.8rem;
  }
  .mode-box p br {
    display: none;
  }
  .mode-block {
    background-image: url(../images/border-2.svg);
    background-position: 100% 0%;
    background-size: 72%;
  }
  .faq {
    padding: 3rem 0rem;
  }
  .faq .accordion-block {
    width: 100%;
    padding: 1rem 1rem 1rem;
    margin: 0 auto  1rem;
  }
  .faq .accordion-block label {
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 1rem 0 1rem;
    margin: 0;
  }
  .faq .accordion-block label:before {
    padding: 0.8rem 0rem;
    margin-top: -3.5%;
    width: 2.4rem;
    height: 2.4rem;
  }
  .faq .accordion-block input:checked + label + .accordion-body {
    height: auto;
    width: 100%;
    background: #FFFFFF;
  }
  .faq .accordion-block p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .feedback-block {
    width: 100%;
  }
  .feedback-block .feedback-box {
    padding: 2rem 0rem;
    width: 90%;
  }
  .feedback-block .feedback-box .pos-top {
    left: 90%;
    top: -7%;
  }
  .feedback-block .feedback-box .pos-bot {
    top: 93%;
    left: -3%;
  }
  .feedback-block .feedback-box span.h3 {
    font-size: 1.3rem;
  }
  .feedback-block .feedback-box p {
    font-size: 0.8rem;
    margin: 1.5rem;
  }
  .feedback-block .feedback-box form {
    margin-bottom: 1rem;
  }
  .feedback-block .feedback-box form input {
    border-radius: 15px;
    margin-bottom: 1.5rem;
  }
  .feedback-block .feedback-box form button {
    border-radius: 15px;
    width: 70%;
    font-size: 0.8rem;
  }
  .feedback-block .feedback-box a.h3 {
    font-size: 1.6rem;
  }
  .contact {
    background: none;
    padding: 0rem;
  }
  .contact-block {
    padding: 0;
    border: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contact-box {
    border: none;
    padding: 2rem;
  }
  .contact-box p,
  .contact-box a {
    font-size: 1rem;
    text-transform: none;
  }
  .contact-box .tel {
    margin-bottom: 2rem;
  }
  .contact h2 {
    font-size: 1.3rem;
  }
  .contact h4 {
    font-size: 1.2rem;
  }
  .contact .social {
    margin-top: 0;
    padding-top: 0;
  }
  footer .footer-logo {
    display: block;
    margin: 0 auto;
    float: none;
  }
  footer .brand {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  body {
    margin: 0;
  }
}
@media (max-width: 991.98px) {
  body {
    margin: 0;
  }
}
@media (max-width: 1199.98px) {
  body {
    margin: 0;
  }
}
@media (max-width: 1399.98px) {
  body {
    margin: 0;
  }
}
