@media (max-width: 575.98px) {
  .header {
    margin-bottom: 50px;
  }
  .header .tel {
    font-size: 30px;
  }
  .presentation {
    margin-bottom: 50px;
  }
  .presentation h1 {
    padding: 0;
    font-size: 28px;
  }
  .presentation p {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .form__block {
    position: relative;
    margin: 0;
  }
  .form__block .substrate {
    position: relative;
    display: none;
  }
  .form__block .form {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }
  .form__block form h2 {
    font-size: 20px;
  }
  .form__block form input {
    width: 90%;
  }
  .form__block form button {
    width: 90%;
  }
  .title__partners {
    font-size: 36px;
  }
  ul li {
    display: block;
    border: none;
    border-bottom: 1px solid #ffa715;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .presentation {
    margin-bottom: 50px;
  }
  .presentation h1 {
    padding: 0;
    font-size: 28px;
  }
  .presentation p {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .form__block {
    position: relative;
    margin: 0;
  }
  .form__block .substrate {
    position: relative;
    display: none;
  }
  .form__block .form {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }
  .form__block form h2 {
    font-size: 20px;
  }
  .form__block form input {
    width: 90%;
  }
  .form__block form button {
    width: 90%;
  }
  .title__partners {
    font-size: 36px;
  }
  ul li {
    display: block;
    border: none;
    border-bottom: 1px solid #ffa715;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .presentation {
    margin-bottom: 50px;
  }
  .presentation h1 {
    padding: 0;
    font-size: 28px;
  }
  .presentation p {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .form__block {
    position: relative;
    margin: 0;
  }
  .form__block .substrate {
    position: relative;
    display: none;
  }
  .form__block .form {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }
  .form__block form h2 {
    font-size: 20px;
  }
  .form__block form input {
    width: 90%;
  }
  .form__block form button {
    width: 90%;
  }
  .title__partners {
    font-size: 36px;
  }
  ul li {
    display: block;
    border: none;
    border-bottom: 1px solid #ffa715;
  }
}
