//colors
@orange: #FFA715;
@white: #ffffff;

//fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//presset
body {
   margin: 0;
   padding: 0;
   color: @white;
}
.container-fluid, .row {
   margin: 0;
   padding: 0;
}
span {
   color: @orange;
}
button {
   border: @orange 1px solid;
   box-sizing: border-box;
border-radius: 8px;
}



//style
.bg-dark {
   position: relative;
   background-image: url(img/BG\ 1.jpg);
   background-repeat: no-repeat;
   z-index: 1;
   
}
.bg-dark::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(18,18,18,0.9);
   
   z-index: 2;
}
.main {
   position: relative;
   z-index: 3;
}
.header {
   padding-top: 15px;
   margin-bottom: 215px;
   a {
      margin-top: 25px;
      font-family: Gilroy,sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      text-align: right;
      letter-spacing: 0.01em;
      color: @white;
      &:hover {
         text-decoration: none;
      }
   }
}


.section {
   h1 {
      padding-top: 40px;
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 120%;
      /* or 62px */

      text-transform: uppercase;
      margin-bottom: 20px;

   }
   p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */
   }
   .callup {
      background:none;
      color: @white;
      width: 160px;
      height: 60px;
      border: 2px solid @orange;
      box-sizing: border-box;
      border-radius: 8px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      &:hover {
         background: #FFA715;
         border-radius: 8px;
      }
   }
}


.substrate {
   position: absolute;
   width: 362px;
height: 436px;
background: @orange;
border-radius: 10px;
z-index: -1;
}
.form {
   position: absolute;
   width: 362px;
height: 436px;
left: 25px;
top: -10px;


background: @white;
box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.13);
border-radius: 10px;
   h2 {
      font-family: Gilroy, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 24px;
   line-height: 30px;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #363636;
   }
   &__block {
      position: relative;
   }
}
.dottedline {
   border: 1px dashed #E9E7E8;
   box-sizing: border-box;
   border-radius: 10px;
   margin: 10px;
}
form {
   h2 {
      margin: 45px auto 55px auto;
   }
   input {
      border: none;
      border-bottom: 1px solid rgba(54, 54, 54, 0.5);
      display: block;
      margin: 0 auto 25px auto;
      width: 270px;
      height: 30px;
   }
   ::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: rgba(54, 54, 54, 0.5);
   }
   .btn__form {
      display: block;
      background-color: @orange;
      color: @white;
      margin: 65px auto 23px auto;
      width: 270px;
      height: 56px;
      font-family: Roboto,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.01em;
   }
}

.title__partners {
   margin: 320px auto 0 auto;
   font-family: Gilroy,sans-serif;
font-style: normal;
font-weight: 800;
font-size: 42px;
line-height: 120%;
/* or 50px */

text-align: center;
text-transform: uppercase;
}
.partners {
height: 180px;
background: #1F1F1F;

ul {
   display: block;
   margin: 0 auto;
   line-height: 180px;
   li {
      display: inline-block;
      font-family: Agency FB;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 120%;
      /* identical to box height, or 48px */
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      opacity: 0.25;
      padding: 10px 15px;
      border-right: 1px solid @orange;
      
      &:last-child {
         border-right: none;
      }
   }
}

}