@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-1UA.ttf) format('truetype');
}
body {
  padding: 0;
  margin: 0;
  background: #FAFEFF;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}
h1,
h2 {
  font-weight: 700;
  color: #3a6994;
}
h2 {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}
section {
  padding-top: 5rem;
}
section:last-of-type {
  margin-bottom: 0;
}
p {
  color: #40719d;
  padding: 0;
  margin: 0;
}
header {
  background: rgba(250, 254, 255, 0.8);
  margin-top: 1rem;
}
header .container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}
header .navbar-toggler {
  border: 1px solid #000000;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
header .navbar-toggler span {
  color: #5ba2f0;
}
.logo img {
  margin: 0 auto;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-nav .nav-link {
  font-size: 1.5rem;
  color: #3a6994;
  margin: 0 1.25rem;
  text-align: center;
}
.navbar-nav .nav-link:hover {
  color: #5ba2f0;
}
.navbar-nav .active {
  font-weight: 500;
}
.tel a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #3a6994;
  text-decoration: none;
}
.tel a:hover {
  color: #5ba2f0;
}
.head {
  height: 80vh;
  background-image: url(../img/header__bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}
.head .row {
  margin: 0;
  padding: 0;
}
.head .title {
  border-radius: 20px;
  padding: 1rem;
  padding-top: 15%;
}
.head h1 {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}
.head .subtitle {
  margin-bottom: 3.65rem;
}
.btn {
  background: linear-gradient(300.11deg, #5ba2f0 56.06%, rgba(104, 169, 241, 0.54) 91.2%);
  border: none;
  border-radius: 20px;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.information .burovaya {
  margin-bottom: 1rem;
}
.information .text {
  margin-bottom: 2.5rem;
}
.information .pluses-block {
  margin-right: 3rem;
}
.information .pluses-block .h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #5ba2f0;
}
.information .pluses-block .h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
}
.benefit__block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 13px rgba(205, 229, 250, 0.63);
          box-shadow: 0px 4px 13px rgba(205, 229, 250, 0.63);
  border-radius: 20px;
  padding: 1.5rem 1.9rem 6rem 1.3rem;
  width: 100%;
  margin-bottom: 2rem;
}
.benefit__block img {
  margin-bottom: 1.75rem;
}
.benefit__block h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #5ba2f0;
  font-weight: 500;
  margin-bottom: 1rem;
}
.benefit__block p {
  color: #40719d;
}
.steps .steps__bg {
  background-image: url(../img/steps__bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.steps__block {
  margin-bottom: 2rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps__block .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(205, 229, 250, 0.7);
          box-shadow: 0px 4px 15px rgba(205, 229, 250, 0.7);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps__block .number p {
  color: #5ba2f0;
  font-size: 2.25rem;
  line-height: 2.65rem;
  font-weight: 700;
}
.steps__block .text {
  margin-left: 1rem;
}
.steps__block .text h3 {
  color: #3a6994;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.services {
  margin-bottom: 3rem;
}
.services__block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 13px rgba(205, 229, 250, 0.63);
          box-shadow: 0px 4px 13px rgba(205, 229, 250, 0.63);
  border-radius: 20px;
  position: relative;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  margin-bottom: 2.25rem;
  width: 100%;
}
.services__block .poligon {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
}
.services__block h3 {
  display: block;
  color: #5ba2f0;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
}
.services__block p {
  display: block;
}
.contacts {
  background-color: #cde5fa;
  padding-top: 0rem;
}
.contacts h2 {
  margin-top: 1.5rem;
}
.contacts p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}
.contacts .tel {
  margin-bottom: 0.5rem;
}
.contacts .social {
  margin-bottom: 5rem;
}
.contacts .social img {
  margin-right: 1rem;
}
.contacts .form {
  position: absolute;
  top: -1rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 12px rgba(205, 229, 250, 0.55);
          box-shadow: 0px 4px 12px rgba(205, 229, 250, 0.55);
  border-radius: 20px;
  padding: 2.65rem 3.75rem;
}
.contacts .form .poligon {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
}
.contacts .form form h3 {
  color: #5ba2f0;
  font-size: 2rem;
  line-height: 2.35rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.contacts .form form p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 3rem;
}
.contacts .form form input {
  border: none;
  border-bottom: 2px solid #5ba2f0;
  margin-bottom: 0rem;
  background: none;
}
.contacts .form form input::-webkit-input-placeholder {
  color: #C0C0C0;
}
.contacts .form form input:-ms-input-placeholder {
  color: #C0C0C0;
}
.contacts .form form input::-ms-input-placeholder {
  color: #C0C0C0;
}
.contacts .form form input::placeholder {
  color: #C0C0C0;
}
.contacts .form form input::-moz-selection {
  border: none;
  border-bottom: 2px solid #5ba2f0;
  outline-offset: none;
}
.contacts .form form input::selection {
  border: none;
  border-bottom: 2px solid #5ba2f0;
  outline-offset: none;
}
.contacts .form form input:-webkit-autofill,
.contacts .form form input:-webkit-autofill:hover,
.contacts .form form input:-webkit-autofill:focus,
.contacts .form form textarea:-webkit-autofill,
.contacts .form form textarea:-webkit-autofill:hover,
.contacts .form form textarea:-webkit-autofill:focus,
.contacts .form form select:-webkit-autofill,
.contacts .form form select:-webkit-autofill:hover,
.contacts .form form select:-webkit-autofill:focus {
  -webkit-text-fill-color: #5ba2f0;
  -webkit-box-shadow: none;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.contacts .form form .btn {
  width: 90%;
  padding: 0.7rem 0;
  margin: 3rem auto 0rem;
  display: block;
}
.dev {
  margin-top: 2rem;
}
.dev a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  color: #40719d;
  text-decoration: none;
}
.b24-form .b24-form-header-title {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  color: #5ba2f0;
  font-size: 2rem;
  line-height: 2.35rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.b24-form .b24-form-header-description {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}
.b24-form .b24-form-sign {
  display: none;
}
.b24-form .b24-form-control-container {
  margin-bottom: 0;
}
.b24-form .b24-form-field {
  margin-bottom: 0;
}
.b24-form .b24-form-btn {
  background: linear-gradient(300.11deg, #5ba2f0 56.06%, rgba(104, 169, 241, 0.54) 91.2%);
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 90%;
  padding: 0;
  margin: 1.2rem auto 0rem;
  display: block;
}
.b24-form .contacts .form form input {
  font-family: 'Rubik', sans-serif;
  background: none;
}
.b24-form .b24-form-wrapper.b24-form-border-bottom {
  border-bottom: none;
}
.b24-form .b24-form-padding-side {
  padding: 0;
}
.b24-form .b24-form-control-icon-after .b24-form-control,
.b24-form .b24-form-control-icon-after .b24-form-control-label {
  padding: 0;
}
.b24-form .b24-form-control-string .b24-form-control-label,
.b24-form .b24-form-control-list .b24-form-control-label,
.b24-form .b24-form-control-text .b24-form-control-label {
  padding: 0;
}
.b24-form .b24-form-control-select-label,
.b24-form .b24-form-control:focus + .b24-form-control-label,
.b24-form .b24-form-control-not-empty + .b24-form-control-label {
  top: 2px;
  font-size: 10px;
}
.b24-form .b24-form-state-container .b24-form-success {
  background-color: #FFFFFF;
}
.b24-form .b24-form-state-container .b24-form-error {
  background-color: #FFFFFF;
}
.b24-form .b24-form-state-container .b24-form-success {
  background-color: #FFFFFF;
}
.b24-form .b24-form-state-container .b24-form-error {
  background-color: #FFFFFF;
}
@media (max-width: 575.98px) {
  .tel a {
    font-size: 1.1rem;
  }
  .head {
    background-image: none;
  }
  .head .title {
    padding-top: 5%;
  }
  .head h1 {
    font-size: 1.6rem;
    text-align: center;
  }
  .head h1 br {
    display: none;
  }
  .head .subtitle {
    text-align: center;
  }
  .btn {
    padding: 1rem 0;
    width: 100%;
  }
  h2 {
    font-size: 1.5rem;
  }
  .information .pluses-block {
    margin-right: 1.5rem;
  }
  .information .pluses-block .h2 {
    font-size: 2rem;
  }
  .information .pluses-block .h4 {
    font-size: 0.8rem;
  }
}
