@media (max-width: 576px) {
  header {
    min-height: 60vh;
  }
  .sub__header {
    position: relative;
    margin-top: 3rem;
  }
  .sub__header h1 {
    font-size: 1.8rem;
  }
  .sub__header p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 5%;
  }
  .service .btn {
    margin-bottom: 1rem;
  }
  .form {
    min-height: 60vh;
    padding: 1rem;
  }
  .form h2 {
    font-size: 1.8rem;
  }
  .form h3 {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto 1rem;
  }
  .form .b24-form-wrapper {
    width: 90%;
  }
  .form .b24-form-control-container {
    margin-bottom: 2rem;
  }
  .form .b24-form-btn {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 5px;
  }
  .b24-form-wrapper {
    width: 90%;
  }
  .sub__header {
    position: relative;
    margin-top: 3rem;
  }
  .sub__header h1 {
    font-size: 1.8rem;
  }
  .sub__header p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 5%;
  }
  .service .btn {
    margin-bottom: 1rem;
  }
  .form {
    min-height: 60vh;
    padding: 1rem;
  }
  .form h2 {
    font-size: 1.8rem;
  }
  .form h3 {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto 1rem;
  }
  .form .b24-form-wrapper {
    width: 90%;
  }
  .form .b24-form-control-container {
    margin-bottom: 2rem;
  }
  .form .b24-form-btn {
    margin-top: 1rem;
  }
}
@media (max-width: 992px) {
  .b24-form-wrapper {
    width: 80%;
  }
  .sub__header {
    position: relative;
    margin-top: 3rem;
  }
  .sub__header h1 {
    font-size: 1.8rem;
  }
  .sub__header p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 5%;
  }
  .service .btn {
    margin-bottom: 1.5rem;
  }
  .form {
    min-height: 60vh;
    padding: 1rem;
  }
  .form h2 {
    font-size: 1.8rem;
  }
  .form h3 {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto 1rem;
  }
  .form .b24-form-wrapper {
    width: 90%;
  }
  .form .b24-form-control-container {
    margin-bottom: 2rem;
  }
  .form .b24-form-btn {
    margin-top: 1rem;
  }
}
@media (max-width: 1200px) {
  header {
    min-height: 80vh;
  }
  .b24-form-wrapper {
    width: 60%;
  }
  .b24-form-control-container {
    width: 60%;
  }
}
