@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-59U.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meKCM.ttf) format('truetype');
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  background-color: #d5a7c0;
  padding: 0;
  margin: 0;
}
nav {
  color: #6c4556;
}
nav .logo {
  width: 5.2rem;
}
nav ul {
  display: inline-block;
  margin: 0 auto;
}
nav li {
  margin: 0 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
}
nav li:hover {
  font-size: 1.55rem;
  color: #8b7c9a;
}
nav .callup {
  display: inline-block;
  margin: 0 auto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 30px;
}
nav .callup:hover {
  font-size: 1.6rem;
}
header {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 3.25rem;
  color: #d5a7c0;
  margin: 6rem auto 3rem auto;
}
header .header__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #6c4556;
}
header .selection {
  border: 3px solid #d5a7c0;
  width: 355px;
  margin: 4rem auto 10rem;
  line-height: 4rem;
  border-radius: 0.75rem;
}
header .selection a {
  background-color: #d5a7c0;
  border-radius: 0.75rem;
  padding: 1rem 6.19rem;
  text-decoration: none;
  color: #6c4556;
}
header .selection:hover {
  border: 3px solid #8b7c9a;
}
header .selection:hover a {
  background-color: #8b7c9a;
  color: #d5a7c0;
}
.assortment__title {
  color: #ffffff;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3rem;
}
.assortment__main {
  border: 5px solid #6c4556;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding: 4rem 0 5rem;
}
.assortment__block {
  margin-bottom: 1.5rem;
}
.assortment__block h3 {
  margin-top: 2rem;
  color: #ffffff;
}
.assortment__block .price {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.assortment__block .buy-btn {
  background-color: #6c4556;
  padding: 5px 40px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 1rem;
}
