@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
body {
  font-family: 'Montserrat', sans-serif;
}
.btn-trable {
  border: 3px solid #FFE300;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.btn-trable:hover {
  background-color: #FFE300;
  color: #111111;
}
.trable .col-xl-4 {
  margin-bottom: 30px;
}
